# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE's
.idea/
.vscode/

# cmake
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles
build/
cmake-build-*/
/.cmake/api/v1/query/cache-v2
/.cmake/api/v1/query/cmakeFiles-v1
/.cmake/api/v1/query/codemodel-v2
/Testing/Temporary/LastTest.log
/tail_clone.cbp
/.cmake/api/v1/query/toolchains-v1
